body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.43;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: #333;
}

.text-center {
  text-align: center;
}
