.relative {
  position: relative;
}

.flex {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.fixed {
  overflow: hidden;
}

.shake {
  @include shake();
}

.medium-zoom-image--opened {
  max-width: 100% !important;
  height: auto !important;
}
