<footer class="container footer">
    <a href="#">
        <img class="footer__logo" src="img/footer-logo.svg" alt="Clever Beauty Studio">
    </a>

    <div class="footer__content">
        <ul class="footer__list">
            <li class="footer__list-item">
                <h3 class="footer__list-item-title">Clever Beauty Studio</h3>
            </li>
            <li class="footer__list-item">
                <a href="tel:+380939260870" class="footer__list-item-link">+380 (93)-926-08-70</a>
            </li>
            <li class="footer__list-item">
                <a href="mailto:clever.studiio@gmail.com" class="footer__list-item-link">clever.studiio@gmail.com</a>
            </li>
            <li class="footer__list-item">
                <a href="https://photos.icons8.com/" rel="noopener noreferrer" class="footer__list-item-link">Источник
                    фотографий</a>
            </li>
        </ul>

        <div class="footer__list-right">
            <ul class="footer__list">
                <li class="footer__list-item">
                    <h3 class="footer__list-item-title">Услуги</h3>
                </li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Курсы бровиста</a></li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Курсы маникюра</a></li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Курсы ламинирования ресниц</a>
                </li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Курсы наращиване ресниц</a>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__list-item">
                    <h3 class="footer__list-item-title">Контакты</h3>
                </li>
                <li class="footer__list-item">
                    <a href="https://www.instagram.com/clever.studio/" target="_blank" rel="noopener noreferrer"
                        class="footer__list-item-link">Мы в Instagram</a>
                </li>
                <li class="footer__list-item">
                    <a href="https://www.facebook.com/groups/718640161897866/" target="_blank" rel="noopener noreferrer"
                        class="footer__list-item-link">Мы в Facebook</a>
                </li>
                <li class="footer__list-item">
                    <a href="https://t.me/joinchat/AAAAAFjeF4VoexPrqHlNaA" target="_blank" rel="noopener noreferrer"
                        class="footer__list-item-link">Мы в Telegram</a>
                </li>
            </ul>
        </div>
    </div>

    <p class="footer__copyright">Clever Studio © Все права защищены, 2019 г.</p>
</footer>