<footer class="footer">
    <div class="container footer__content">
        <img class="footer__logo" src="img/footer-logo.svg" alt="Clever Beauty Studio">

        <ul class="footer__list">
            <li class="footer__list-item">
                <h3 class="footer__list-item-title">Clever Beauty Studio</h3>
            </li>
            <li class="footer__list-item">
                <a href="tel:+380935848250" class="footer__list-item-link">+380 (93)-584-82-50</a>
            </li>
            <li class="footer__list-item">
                <a href="mailto:clever.studiio@gmail.com" class="footer__list-item-link">clever.studiio@gmail.com</a>
            </li>
        </ul>

        <div class="footer__list-right">
            <ul class="footer__list">
                <li class="footer__list-item">
                    <h3 class="footer__list-item-title">Услуги</h3>
                </li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Курсы бровиста</a></li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Курсы маникюра</a></li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Курсы ламинирования ресниц</a>
                </li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Курсы наращиване ресниц</a>
                </li>
            </ul>

            <ul class="footer__list">
                <li class="footer__list-item">
                    <h3 class="footer__list-item-title">Контакты</h3>
                </li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Мы в Instagram</a>
                </li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Мы в Facebook</a>
                </li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">Мы в Telegram</a>
                </li>
                <li class="footer__list-item">
                    <a href="#" class="footer__list-item-link">О Нас пишут</a>
                </li>
            </ul>
        </div>
    </div>

    <p class="footer__copyright">Clever Studio © Все права защищены, 2019 г.</p>
</footer>