<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" 
    content="Обучение наращиванию ногтей,курсы наращивания ногтей Киев.Гибкие программы обучения наращивания ногтей.Авторская программа.По окончании выдается диплом.">
  <link rel="stylesheet" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
  <title>Обучение наращиванию ногтей,курсы наращивания ногтей Киев</title>
</head>