.button {
  margin: 0 auto;
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
  height: 56px;
  margin-bottom: 20px;
  line-height: 20px;
  text-align: center;
  vertical-align: center;
  letter-spacing: 0.04em;

  appearance: none;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: $bradius;
  cursor: pointer;

  @include btnPress();

  &--fw {
    display: block;
    width: 100%;
  }

  &--sm {
    height: 48px;
    padding-top: 14px;
    padding-bottom: 12px;
  }

  &--primary {
    background-color: $primary;
    color: #000;
    font-weight: 500;
  }
  &--secondary {
    background-color: $secondary;
    color: $primary;
  }

  &--white {
    color: #000;
    background-color: #fff;
  }

  &--outline-b {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:active {
      background-color: #000;
      color: #fff;
    }
  }

  &--outline-w {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:active {
      background-color: #fff;
      color: #000;
    }
  }

  &--outline-p {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
    transition: background-color 0.3s, color 0.3s;

    &:hover,
    &:active {
      background-color: #ff7560;
      color: #fff;
    }
  }
}
