.bar {
  position: fixed;
  padding-bottom: 8px;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 68px;
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px -4px 40px rgba(0, 0, 0, 0.1);

  @include breakpoint(medium) {
    padding-bottom: 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__wrap {
    display: flex;
    align-items: baseline;
    position: relative;
    padding-top: 8px;

    @include breakpoint(medium) {
      padding-top: 0;
      align-items: center;
    }
  }

  &__chat {
    margin-right: 16px;
    transition: opacity 0.3s;

    &:hover ~ .bar__socials,
    &:active ~ .bar__socials {
      display: block;
    }
    @include breakpoint(large) {
      margin-right: 24px;

      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }

  &__phone {
    display: block;

    @include breakpoint(medium) {
      display: none;
    }
  }

  &__phone-link {
    display: none;

    @include breakpoint(medium) {
      display: block;
    }

    color: $primary;
    font-size: 18px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__subscribe {
    padding: 12px 16px;
    background-color: $secondary;
    color: #c12300;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;

    @include breakpoint(360px) {
      padding: 12px 28px;
      font-size: 14px;
    }
    @include btnPress();
  }

  &__socials {
    display: none;
    position: absolute;
    top: -198px;
    left: 0;
    padding: 18px 20px;
    border-radius: $bradius;
    background: $secondary;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid $primary;

    &:hover {
      display: block;
    }

    &:hover > .bar__socials-item:not(:hover) {
      opacity: 0.5;
    }
  }

  &__socials-item {
    transition: opacity 0.3s;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__item-link {
    display: flex;
    align-items: center;
    color: $primary;
    font-weight: 500;
  }

  &__social-icon {
    margin-right: 8px;
  }
}
