.footer {
  border-top: 1px solid #dfe4ea;
  padding-top: 40px;
  padding-bottom: 68px;

  &__content {
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(medium) {
      display: none;
    }
  }

  &__list-right {
    @include breakpoint(medium) {
      justify-content: space-between;
      display: flex;
    }
  }

  &__list {
    @include breakpoint(medium) {
      &:not(:last-child) {
        margin-right: 28px;
      }
    }

    @include breakpoint(large) {
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 80px;
      }
    }
    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }

  &__list-item {
    margin-bottom: 12px;
  }

  &__list-item-title {
    font-weight: bold;
    font-size: 24px;
  }

  &__list-item-link {
    transition: color 0.3s;
    &:hover {
      text-decoration: underline;
      color: $primary;
    }
  }

  &__copyright {
    text-align: center;
    margin-top: 60px;
    color: #444444;
    padding: 0 15px;
    line-height: 1.5;
    font-size: 12px;

    @include breakpoint(large) {
      margin-top: 128px;
      font-size: inherit;
    }
  }
}
