.footer {
  border-top: 1px solid #e6e6e6;
  padding-top: 60px;
  padding-bottom: 68px;

  &__content {
    
    @include breakpoint(medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__list-right {
    @include breakpoint(medium){
      justify-content: space-between;
      display: flex;
    }

  }

  &__list {
    @include breakpoint (medium){
      margin-bottom: 0;
    }
    &:not(:last-child) {
      margin-bottom: 44px;
      margin-right: 60px;
    }
  }

  &__list-item {
    margin-bottom: 12px;
  }

  &__list-item-title {
    font-weight: bold;
    font-size: 24px;
    color: #242424;
  }

  &__list-item-link {
    color: #333333;

    &:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    text-align: center;
    margin-top: 60px;
    color: #242424;
    padding: 0 15px;
    line-height: 1.5;
    font-size: 12px;

    @include breakpoint (large) {
      margin-top: 128px;
      font-size: inherit;
    }

  }
}
