.gallery {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  &__gallery {
    display: flex;
    flex-wrap: nowrap;

    @include breakpointDown(medium) {
      @include fullWidth();
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
    }

    @include breakpoint(medium) {
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__cell {
    flex: 0 0 auto;
    transition: opacity 0.3s;
    max-width: 350px;
    max-height: 350px;
    overflow: hidden;

    @include breakpoint(small) {
      width: 100%;
    }

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    width: 350px;
    height: 350px;
  }
}
