.header {
  background-color: $headerColor;
  min-height: 360px;
  width: 100%;
  margin-bottom: 100px;

  @include breakpoint(large) {
    min-height: calc(100vh - (68px + 80px));
  }
  &__content {
    padding-top: 10%;

    @include breakpoint(large) {
      max-width: 566px;
    }
  }
  &__title,
  &__subtitle {
    color: #000;
    line-height: 1.5;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 0.06em;

    color: #000000;
    animation: fadeIn 2s;

    @include breakpoint(large) {
      font-size: 40px;
    }
  }

  &__subtitle {
    animation: fadeIn 3s;
    font-size: 20px;
    line-height: 1.6;
    margin-top: 12px;
    margin-bottom: 24px;
    color: #1a1a1a;
  }

  &__button {
    animation: fadeIn 3s;
    padding: 18px 60px;
  }

  @include breakpoint(large) {
    background: $headerColor url("img/girl-webp.webp") no-repeat right bottom;
    background-size: auto 110%;
  }
}
