.subscribe {
  max-width: 440px;

  &__input {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    height: 56px;
    width: 100%;
    max-width: 440px;
    text-align: center;
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: $bradius;
    transition: border-color 0.5s;
    box-shadow: 0px;

    &__button {
      max-width: 440px;
      width: 100%;
      height: 56px;
    }

    &:hover {
      border-color: #000;
    }
  }
}
